numpy
pandas
torch
quantus
pyyaml
pytest
aix360
tensorflow>=2.1.0; sys_platform == "darwin" and platform_machine == "arm64"
tensorflow-cpu>=2.1.0; sys_platform != "darwin" or platform_machine != "arm64"
xplique
